/* ADD this for when we add padding the elements/content are not pushed off the page */
html {
    box-sizing: border-box;
}

/* margin is zero on all for sides
min-height 100vh means we want the view port to be stretched the whole height of the window */
body {
margin: 0;
min-height: 100vh;
background: chocolate;
}